<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="resume">
    <span class="changeLanguage"></span>
    <div class="hi">
      <p>Привет, меня зовут <p class="red">Оксана Кочуева.</p></p>
      <p>Я делаю классные веб-приложения, лендинги и UX/UI дизайн.
      </p>
    </div>
    <div class="photo"></div>
    <section class="skills">
      <p class="underline">Обо мне
        <p>Я студент «Дизайна и программирования» Высшей школы Экономики, а это значит я занимаюсь разработкой и дизайном мобильных и веб-приложений, а так же имею бекграунд коммуникационного дизайна.</p>
      </p>
      <p class="underline">Навыки
      <div class="column">
        <p class="can">HTML CSS JavaScript Ruby&nbspon&nbspRails</p>
        <p class="can">Sketch Figma Readymag</p>
        <p class="can">Illustrator Photoshop InDesign Premiere&nbspPro After&nbspEffects</p>
      </div>
      </p>
    </section>
    <section class="links">
      <p class="underline"><a href="https://portfolio.hse.ru/User/8493" target="_blank">Студенческое портфолио</a></p>
      <p class="underline"><a href="https://github.com/oxanakochueva" target="_blank">GitHub</a></p>
      <p class="underline"><a href="https://vimeo.com/326196497" target="_blank">Vimeo</a></p>
    </section>

  </div>
</body>
</div>
